/implementancion_de_principios/nbproject/private/
/catalogo_de_personajes/nbproject/private/
/catalogo_de_personajes/build/
/Demo/nbproject/private/
/Demo/build/
/ejemploProxyAdapter/nbproject/private/
/ejemploProxyAdapter/build/